@import "tailwindcss";

@import "@fontsource/montserrat";

@theme {
    --font-sans: Montserrat, sans-serif;
    --color-ethio-green: #078930;
    --color-ethio-yellow: #FCD116;
    --color-ethio-red: #DA121A;
}